@font-face {
  font-family: '1';
  src: url('/fontes/fontes1/Happy.otf');
  font-weight: normal;
    
  font-style: normal;
}

@font-face {
  font-family: '2';
  src: url('/fontes/fontes2/Pie1.ttf');
  font-weight: normal;
    
  font-style: normal;
}

:root{
    --cor-1: #F3F8FF;
    --cor-2: #DEECFF;
    --cor-3: #C6CFFF;
    --cor-4: #8f77c4;
    --cor-5: #624E88;
    --cor-6: #492E87;
}

@keyframes mudarCor {
  0% {
    -webkit-text-stroke: 0.5px #fded5d; 
  }

  50% { 
    -webkit-text-stroke: 0.5px #fff;
  } 

  100% { 
  -webkit-text-stroke: 0.5px #fded5d;
  }
}
